.topBar {
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.bottomBar {

}

.full-width-height {
    width: 100%;
    height: 100%;
}

.background-image-shelf {
    background-image: url("images/books-3.jpg");
    background-repeat: no-repeat;
}

.tabs .tab a {
    color: teal !important;
}

.tabs .indicator {
    background-color: teal !important;
}

.indicator-item {
    background-color: #ffcdd2 !important;
}

.indicator-item.active {
    background-color: #d32f2f !important;
}

.books {
    width: 100%;
    height: 100%;
    padding: 10%;
}

input.autocomplete, select.autocomplete, textarea.autocomplete {
    color: #FFFFFF !important;
}

textarea.autocomplete:focus, input.autocomplete:focus {
    color: #FFFFFF !important;
}

@media (min-width: 992px) {

    .min-height-block {
        min-height: 700px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .min-height-block {
        min-height: 500px;
    }

}

@media (max-width: 767px) {

    .min-height-block {
        min-height: 400px;
    }

}
























