.topBar {
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottomBar {

}

.full-width-height {
    width: 100%;
    height: 100%;
}

.background-image-shelf {
    background-image: url("images/books-3.jpg");
    background-repeat: no-repeat;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 992px) {

    .min-height-block {
        min-height: 900px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .min-height-block {
        min-height: 700px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .min-height-block {
        min-height: 500px;
    }

}
























